<!DOCTYPE html>
<html>
	<head>
		<title><%= titre %></title>
		<%= csrf_meta_tag %> <!-- sécurité: empêche le cross-site request forgery (CSRF) -->
		<%= render 'layouts/stylesheets' %><!-- "render" = helper Rails qui cherche un fichier appelé "app/views/layout/_stylesheets.html.erb" -->
		<!-- le _ au début du nom du fichier identifie un patiel -->
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
			<section class="round">
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>